*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(201, 41, 121);
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: blanchedalmond;
    padding: 10px;
    height: 50%;
}

h1{
    font-size: 45px;
    font: outline;
    align-items: center;
    font-weight: solid bold black;
}

ol{
    padding: 10px;
    border-bottom: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}
li{
    padding: 10px;
    border: grey;
    font-size: 25px;
    margin: 0;
    list-style-type: decimal;
}
a{
    text-decoration: none;
    color: black;
}

.container {
    background-color: rgba(252, 215, 9, 0.89);
    padding: 30px;
    border-radius: 20px;
}